<table>
  <tr>
    <td><strong>Title</strong></td>
    <td><%= @bug.title %></td>
  <tr>
  <tr>
    <td><strong>Description</strong></td>
    <td><%= @bug.description %></td>
  <tr>
  <tr>
    <td><strong>Status</strong></td>
    <td><%= @bug.status %></td>
  <tr>
    <td><strong>Developer</strong></td>
    <td><%= link_to @developer.name, developer_path(@developer) %></td>
  </tr>
</table>
<br><br>
<%= link_to "Edit Bug", edit_bug_path(@bug) %> | <%= link_to 'Delete', @bug, :confirm => 'Are you sure?', :method => :delete %> | <%= link_to "Back to bug list", bugs_path() %>
