<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :description %><br />
  <%= f.text_field :description %>
</div>
<div class="field">
  <%= f.label :status%><br />
  <%= select( "bug", "status", %w[New In-Progress Testing Closed], {:include_blank => 'None'}) %>
</div>
<div class="field">
  <%= f.label :developer_id %><br />
  <%= select("bug", "developer_id", Developer.all.collect {|d| [ d.name, d.id ] }, {:include_blank => 'None'}) %>
</div>

